/JavaEEProject-ejb/dist/
/JavaEEProject-ejb/build/
/JavaEEProject-war/dist/
/JavaEEProject-war/build/
/build/
/dist/
JavaEEProject-war/nbproject/private/private.xml
JavaEEProject-war/nbproject/private/faces-config.NavData
JavaEEProject-ejb/nbproject/private/private.xml
JavaEEProject-war/nbproject/private/private.properties
JavaEEProject-ejb/nbproject/private/private.properties
nbproject/private/private.properties
nbproject/private/private.xml
/JavaEEProject-ejb/nbproject/project.properties
