/* 
    Created on : Sep 8, 2015, 9:57:21 AM
    Author     : Benjamin
*/
body {
}

.textLabels {
}

#header {
    position: relative;
    border-bottom: solid 3px black;
}

#content {
    position: relative;
    margin-bottom: 150px;
}

#footer {
    border-top: solid 3px black;
    position: relative;
}

#infoContainer {
}

.navigationButton {
    border: none;
    margin: 0px;
    margin-bottom: 25px;
}

.regForm {
    margin-top: 100px;
    width: 50%;
    margin-left: 25%
}

.viewTable {
}

#period-attendance-chart{
    float:left;
}

.autoCompleteText {
    cursor: pointer;
}

.panels{
    width:75%;
    margin-bottom:10px; 
    margin-top: 20px;
}

#course-by-date{    
    width:150px;
}

.attList-Menu{
    width:150px;
}

.viewAttendanceList{
    width: 100%;
}

#overall-chart{
    height: 300px;        
}

.content-main{
    margin-top:100px; 
    margin-left: 25%; 
    width:50%
}

.welcome > h1{
    /*text-align: center;*/
    color:chartreuse;
}
.welcome {
    margin:auto;
    text-align: center;
}

.add-stud-grid{
    margin-bottom: 20px;
}