/* 
    Created on : Sep 8, 2015, 9:57:21 AM
    Author     : Benjamin
*/
body {
}

.textLabels {
}

#header {
    position: relative;
    border-bottom: solid 3px black;
}

#content {
    position: relative;
    margin-bottom: 150px;
}

#footer {
    border-top: solid 3px black;
    position: relative;
}

#infoContainer {
}

.navigationButton {
    border: none;
    margin: 0px;
    margin-bottom: 25px;
}

.regForm {
    margin: auto;
    width: 250px;
}

.viewTable {
}

#period-attendance-chart{
    float:left;
}