/* 
    Created on : Sep 8, 2015, 9:57:21 AM
    Author     : Benjamin
*/

#header {
    position: relative;
}

#content {
    position: relative;
}

#footer {
    border-top: solid 3px black;
    position: relative;
}

#infoContainer {
}